@using MembersTestUmbraco16.Business.Services.Interfaces

@inject ICartService _cartService

@code
{
    protected override void OnInitialized()
    {
        _cartService.OnChange += HandleCartChanged;
    }

    private void HandleCartChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _cartService.OnChange -= HandleCartChanged;
    }
}

<!-- Cart Icon with Badge -->
<div class="cart-icon ms-3">
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="cart-badge" style="display:inline;">@_cartService.Count</span>
</div>